Створи клас Storage, який створюватиме об'єкти для управління складом товарів. Клас очікує лише один аргумент - початковий масив товарів, який записується до створеного об'єкта в властивість items.

Оголоси наступні методи класу:

getItems() - повертає масив поточних товарів у властивості items.
addItem(newItem) - приймає новий товар newItem і додає його до масиву товарів у властивості items об'єкта.
removeItem(itemToRemove) - приймає товар itemToRemove і видаляє його з масиву товарів у властивості items об'єкта.
Під коментарем ми додали ініціалізацію екземпляра і виклики методів у тій послідовності, в якій твій код перевірятимуть тести. Будь ласка, нічого там не змінюй.

Оголошений клас Storage
В класі Storage оголошений метод getItems
В класі Storage оголошений метод addItem
В класі Storage оголошений метод removeItem
Метод getItems повертає значення властивості items екземпляра класу, який його викликає
Метод addItem змінює властивість items екземпляра класу, який його викликає
Метод removeItem змінює властивість items екземпляра класу, який його викликає
В результаті виклику new Storage(["Nanitoids", "Prolonger", "Antigravitator"]) значення змінної storage - це об'єкт
Об'єкт storage містить властивість items
Перший виклик storage.getItems(), відразу після інціалізаціі екземпляра, повертає масив ["Nanitoids", "Prolonger", "Antigravitator"]
Другий виклик, storage.getItems(), після виклику storage.addItem("Droid"), повертає масив ["Nanitoids", "Prolonger", "Antigravitator", "Droid"]
Третій виклик storage.getItems(), після виклику storage.removeItem("Prolonger"), повертає масив ["Nanitoids", "Antigravitator", "Droid"]